#contact{
    padding: 0px 15px;
    @include breakpoint(medium  up){
        padding: 0px 40px;
    }
    @include breakpoint(large  up){
        padding-top: 0;
    }
    @include breakpoint(xlarge  up){}
    .contact-wrapper{
        @media screen and (min-width: 768px){
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            justify-content: space-between;
        }


        .adress{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            @media screen and (min-width: 768px){
                flex: 0 0 60%;
            }
            h1{
                font-size: 25px;
                font-weight: 900;
                padding-top: 0;
                line-height: 24px;
                padding-bottom: 30px;
                @include breakpoint(medium  up){
                    padding-bottom: 40;
                }
                @media screen and (min-width: 768px){
                    padding-bottom: 45px;
                }
                @include breakpoint(large  up){
                    font-size: 35px;
                    padding-top: 0;
                    line-height: 35px;
                    padding-bottom: 50px;

                }
                @include breakpoint(xlarge  up){
                    font-size: 45px;
                    padding-bottom: 60px;
                }
            }
            p{
                font-size: 16px;
                color: #707070;
                line-height: 22px;
            }
            .firm-text{
                font-size: 16px;
                color: #707070;
                text-transform: uppercase;
                font-weight: 900;
                padding-bottom: 30px;
                flex: 0 0 100%;
            }
            .adress-col{
                flex: 0 0 50%;
            }
            .phone-col{
                flex: 0 0 50%;
                padding-bottom: 30px;
                color: #000;
                .tel, .fax{
                    color: #000;
                    transition: .3s ease-in-out;
                    &:hover{
                        color: #027E1B;
                        transition: .3s ease-in-out;
                    }
                }
                a{
                    color: #027E1B;
                    transition: .3s ease-in-out;
                    &:hover{ 
                        color: #000;
                        transition: .3s ease-in-out;
                    }
                }
            }
            .nip-col{
                flex: 0 0 50%;
            }
            .departament-col{
                flex: 0 0 50%;
            }
            .soc-links{
                padding-top: 30px;
                padding-bottom: 30px;
                ul{
                    li{
                        display: inline-block;
                        margin-right: 20px;
                        &:last-child(){
                            margin-right: 0;
                        }
                        a{
                            svg{
                                width: 24px;
                                height: 24px;
                                path{
                                    fill: #027E1B;
                                    transition: .3s ease-in-out;
                                }
                                circle{
                                    fill: #027E1B;
                                    transition: .3s ease-in-out;
                                }
                            }
                            &:hover{
                                svg{
                                    path{
                                        fill: #000;
                                        transition: .3s ease-in-out;
                                    }
                                    circle{
                                        fill: #000;
                                        transition: .3s ease-in-out;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .ankiet-paragraph{
                font-size: 16px;
                color: #027E1B;
                font-weight: 900;
                padding-bottom: 20px;
                flex:  0 0 100%;
                @media screen and (min-width: 768px){
                    font-size: 30px;
                }
            }
            .btn{
                font-size: 16px;
                background: transparent;
                border: 1.2px solid #027E1B;
                color: #027E1B;
                transition: .3s ease-in-out;
                &:hover{
                    background: #027E1B;
                    color: #fff;
                    transition: .3s ease-in-out;
                }
            }
        }
        .contact-form{
            padding-top: 30px;
            @include breakpoint(medium  up){
                padding-top: 35px;
            }
            @media screen and (min-width: 768px){
                flex: 0 0 35%;
                padding-top: 0px;
            }
            @include breakpoint(xlarge up){
                padding-top: 0px;
            }
            .btn{
                margin-left: auto;
                margin-top: 25px;
                display: block;
                font-size: 14px;
                padding: 8px 40px;
                cursor: pointer;
                @include breakpoint(large  up){
                    font-size: 16px;
                }
            }
            .form-title{
                font-size: 18px;
                padding-bottom: 20px;
                font-weight: 900;
                @include breakpoint(medium  up){
                    padding-bottom: 40px;
                }
                @media screen and (min-width: 768px){
                    font-size: 20px;
                    padding-top: 0;
                    padding-bottom: 45px;
                }
                @include breakpoint(large  up){
                    font-size: 30px;
                    padding-bottom: 45px;
                }
                @include breakpoint(xlarge  up){
                    padding-bottom: 50px;
                }

            }
            input, select, textarea{
                padding: 11px 20px;
                border-radius: 8px;
                font-family: 'Bahnschrift';
                font-size: 16px;
                margin-bottom: 15px;
                color: #707070;
            }
            select{
                padding-right: 25px;
                padding-top: 7px;
                opacity: .5;
                color: #707070;
                option{
                    opacity: .5;
                    color: #707070;
                }
            }
            textarea{
                height: 75px;
            }
            /* Customize the label (the container) */
            .checkbox-container {
                display: block;
                position: relative;
                padding-left: 21px;
                cursor: pointer;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                opacity: .5;
                font-family: 'Bahnschrift';
                font-size: 10.5px;
                color: #707070;
            }
            
            /* Hide the browser's default checkbox */
            .checkbox-container input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;

            }
            
            /* Create a custom checkbox */
            .checkmark {
                position: absolute;
                top: 3px;
                left: 0;
                height: 11px;
                width: 11px;
                background-color: #fff;
                border: 1px solid #707070;
            }
            
            /* On mouse-over, add a grey background color */
            .checkbox-container:hover input ~ .checkmark {
                background-color: #ccc;
            }
            
            /* When the checkbox is checked, add a blue background */
            .checkbox-container input:checked ~ .checkmark {
                background-color: #027E1B;
            }
            
            /* Create the checkmark/indicator (hidden when not checked) */
            .checkmark:after {
                content: "";
                position: absolute;
                display: none;
            }
            
            /* Show the checkmark when checked */
            .checkbox-container input:checked ~ .checkmark:after {
                display: block;
            }
            
            /* Style the checkmark/indicator */
            .checkbox-container .checkmark:after {
                left: 3px;
                top: 0px;
                width: 4px;
                height: 8px;
                border: solid white;
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
            }
        }

    }
}

iframe{
    margin-top: 50px;
}

/**
    @include breakpoint(medium  up){}
    @include breakpoint(large  up){}
    @include breakpoint(xlarge  up){}
**/