#mini-footer{
    .mini-footer{
        padding: 20px 15px 5px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        justify-content: center;
        @include breakpoint(medium  up){
            padding: 30px 40px;
            justify-content: space-between;
        }
        .copyright{
        color: #A2A2A2;
        font-size: 10px;
        flex: 0 0 100%;
        text-align: center;
        @include breakpoint(medium  up){
            flex: 0 0 50%;
            text-align: left;
        }
        }
        .made-by{
        color: #A2A2A2;
        font-size: 10px;
        flex: 0 0 100%;
        text-align: center;
            @include breakpoint(medium  up){
                flex: 0 0 50%;
                text-align: right;
            }
        }
    }
}